.weatherWarningContent {
    margin-top: 20px;

    > p {
        text-align: center;
    }
}

.weatherWarningRegion {
    &:not(:first-child) {
        border-top: 1px solid $wcfContentBorder;
        margin-top: 15px;
        padding-top: 10px;
    }

    > dl,
    > .description,
    > .instruction {
        margin-top: 5px;
    }

    .headline {
        display: flex;
        font-weight: 600;
        border-bottom: 1px dotted $wcfContentBorder;
        padding-bottom: 5px;

        > img {
            flex: 0 0 50px;
        }

        > span {
            flex: 1 1 auto;
            margin-left: 10px;
        }
    }

    .warnLevel {
        position: relative;
        margin-top: 10px;

        .warnColor {
            display: inline-table;
            height: 20px;
            width: 100%;
            background: -prefix-linear-gradient(left, #FFFF00, #FFA500, #FF0000, #8B0000);
            background: linear-gradient(to right, #FFFF00, #FFA500, #FF0000, #8B0000);
        }

        .levelRules {
            position: absolute;
            background-color: black;
            height: 30px;
            width: 10px;
            opacity: .7;
            top: -5px;

            &.level1 {
                left: -4px;
            }

            &.level2 {
                left: 31.5%;
            }

            &.level3 {
                right: 31.5%;
            }

            &.level4 {
                right: -4px;
            }
        }
    }
}

.weatherWarningRegionBox {
    .boxTitle {
        font-size: 16px;
    }

    .icon {
        &.red {
            color: rgba(204, 0, 0, 1);
        }
    }
}

.weatherWarningForestFireHazardIndexMap,
.weatherWarningGrasslandFireIndexMap,
.weatherWarningMap {
    text-align:  center;

    .forestFireHazardIndexMap,
    .grasslandFireIndexMap,
    .germanyMap,
    .germanyMapInfo {
        max-width: 100%;
    }

    .button{
        margin-top: 10px;
    }
}